<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.web.material.mapper.MaterialMapper">

    <resultMap id="BaseResultMap" type="com.gym.web.material.entity.Material">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="numTotal" column="num_total" jdbcType="INTEGER"/>
            <result property="details" column="details" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,num_total,
        details
    </sql>
</mapper>
